//---------------------
//IMPORTS
//---------------------
@import 'variables.scss';
@import 'mixins.scss';
@import "../vendor/fontawesome/scss/fontawesome.scss";
@import "../vendor/fontawesome/scss/light.scss";
@import "../vendor/fontawesome/scss/regular.scss";
@import "../vendor/fontawesome/scss/brands.scss";
//---------------------
//GLOBAL STYLES
//---------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font: $body-font;
    background-color: $primary;
    color: $white;

    main {
        @include linear-gradient($primary, $secondary);
    }
    h1, h2, h3, h4 {
        font: $heading-font;
    }
    h1 {
        font-size: 3.2rem;
        @include mq(md) {
            font-size: 4rem;
        }
        @include mq(lg) {
            font-size: 4.8rem;
        }
    }
    h2 {
        font-size: 2.6rem;
        @include mq(md) {
            font-size: 3.2rem;
        }
        @include mq(lg) {
            font-size: 3.6rem
        }
    }
    h3 {
        font-size: 2.2rem;
        @include mq(md) {
            font-size: 2.4rem;
        }
        @include mq(lg) {
            font-size: 2.8rem;
        }
    }
    h4 {
        font-size: 1.8rem;
    }
    ul {
        list-style-type: none;
    }
    a {
        color: $white;
        text-decoration: none;
        transition: 0.5s;

        &:hover, a:focus {
            color: $accent;
            text-decoration: default;
        }
    }
    .container {
        width: 100%;
        padding: 0 2rem;
        max-width: 112rem;
        margin: $m-center;
    }
    .access-hide {
        display: none;
    }

    header {
        background-color: $primary;
        padding: 1.5rem 0;
        border-bottom: 1px solid $secondary;

        .container {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(center);

            @include mq(sm) {
                @include flex-direction(row);
            }

            .logo {
                margin-bottom: 2rem;

                @include mq(sm) {
                    margin-bottom: 0;
                }
            }

            nav {
                
                @include mq(sm) {
                    width: 100%;
                }
                ul {
                    @include flexbox;
                    @include flex-direction(row);

                    @include mq(sm) {
                        @include justify-content(flex-end);
                    }

                    li {
                        margin-left: 2rem;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: $primary;
        padding: 1.5rem 0;
        text-align: center;

        @include mq(md) {
            text-align: left;
        }
        .container {
            @include flexbox;
            @include flex-direction(column-reverse);
            @include align-items(center);

            @include mq(md) {
                @include flex-direction(row);
            }
            > p {
                width: 100%;
            }
            nav {
                width: 100%;
                > ul {
                    @include flexbox;
                    @include flex-wrap(wrap);

                    @include mq(md) {
                        @include flex-wrap(nowrap);
                        @include align-items(center);
                        @include justify-content(flex-end);

                    }
                    > li {
                        width: 33%;
                        @include mq(md) {
                            width: auto;
                            margin-right: 2rem;
                        }

                        &:last-child {
                            width: 100%;
                            @include mq(md) {
                                width: auto;
                            }
                        }
                    }
                }
                .social {
                    @include flexbox;
                    @include justify-content(center);
                    padding: 2rem 0;

                    @include mq(md) {
                        @include justify-content(flex-end);
                        padding: 0;
                    }

                    li {
                        margin-left: 2.5rem;
                        font-size: 2.5rem;

                        @include mq(md) {
                            font-size: 1.8rem;
                            margin-left: 2rem;
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        
                    }
                } 
            }
        }
    }
}
//---------------------
//       HOME
//---------------------
#home {
    main {
        text-align: center;

        section {
            padding: 6rem 0 8rem;
            .container {
                text-align: left;
            }
        }
        h2 {
            display: inline-block;
            padding: 1rem;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            margin-bottom: 4rem;
        }

        #hero {
            height: 100vh;

            h1 {
                font-size: 2rem;

                span {
                    font-size: 3.6rem;
                    display: block;
                }
            }
        }
        
    }
    
    
}