* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1.625 "Open Sans", sans-serif;
  background-color: #2D0042;
  color: #FEF7F2;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font: 300 1.6rem/1 "Nunito", sans-serif;
}

body h1 {
  font-size: 2rem;
}

@media (min-width: 769px) {
  body h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 993px) {
  body h1 {
    font-size: 3rem;
  }
}

body h2 {
  font-size: 2rem;
}

@media (min-width: 769px) {
  body h2 {
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  body h2 {
    font-size: 2.5rem;
  }
}

body h3 {
  font-size: 1.625rem;
}

@media (min-width: 769px) {
  body h3 {
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  body h3 {
    font-size: 2.5rem;
  }
}

body h4 {
  font-size: 1.125rem;
}

body a {
  color: #FEF7F2;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body a:hover, body a a:focus {
  color: #51EBC8;
  -webkit-text-decoration: default;
          text-decoration: default;
}

body .container {
  margin: 0 auto;
  max-width: 90%;
  padding: 10rem 2rem;
}

main {
  background: #650042;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D0042), to(#650042));
  background: linear-gradient(#2D0042, #650042);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #650042;
  font-size: 1.4rem;
}

@media (min-width: 769px) {
  footer {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
}

footer p {
  color: #E37882;
  padding-left: 0;
}

@media (min-width: 769px) {
  footer p {
    padding-left: 2rem;
    width: 25%;
  }
}

footer .footer-nav {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 769px) {
  footer .footer-nav {
    width: 75%;
  }
}

footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 769px) {
  footer .footer-nav ul {
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

footer .footer-nav ul > li {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

@media (min-width: 769px) {
  footer .footer-nav ul > li {
    width: auto;
    padding-right: 1rem;
  }
}

footer .footer-nav ul > li:last-child {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .footer-nav ul > li:last-child .social li {
  width: initial;
}

footer .footer-nav ul > li:last-child .social a {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
}
/*# sourceMappingURL=styles.css.map */