//---------------------
//IMPORTS
//---------------------
@import 'variables.scss';
@import 'mixins.scss';
@import "../vendor/fontawesome/scss/fontawesome.scss";
@import "../vendor/fontawesome/scss/light.scss";
@import "../vendor/fontawesome/scss/regular.scss";
@import "../vendor/fontawesome/scss/brands.scss";
//---------------------
//GLOBAL STYLES
//---------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font: $body-font;
    background-color: $primary;
    color: $white;

    main {
        @include linear-gradient($primary, $secondary);
    }
    h1, h2, h3, h4 {
        font: $heading-font;
    }
    h1 {
        font-size: 3.2rem;
        @include mq(md) {
            font-size: 4rem;
        }
        @include mq(lg) {
            font-size: 4.8rem;
        }
    }
    h2 {
        font-size: 2.6rem;
        @include mq(md) {
            font-size: 3.2rem;
        }
        @include mq(lg) {
            font-size: 3.6rem
        }
    }
    h3 {
        font-size: 2.2rem;
        @include mq(md) {
            font-size: 2.4rem;
        }
        @include mq(lg) {
            font-size: 2.8rem;
        }
    }
    h4 {
        font-size: 1.8rem;
    }
    ul {
        list-style-type: none;
    }
    a {
        color: $white;
        text-decoration: none;
        transition: 0.5s;

        &:hover, a:focus {
            color: $accent;
            text-decoration: default;
        }
    }
    .container {
        width: 100%;
        padding: 0 2rem;
        max-width: 112rem;
        margin: $m-center;
        position: relative;
        height: 100%;
    }
    .access-hide {
        display: none;
    }

    header {
        background-color: $primary;
        padding: 1.5rem 0;
        border-bottom: 1px solid $secondary;

        .container {
            @include flexbox;
            @include flex-direction(column);
            @include align-items(center);

            @include mq(sm) {
                @include flex-direction(row);
            }

            .logo {
                margin-bottom: 2rem;

                @include mq(sm) {
                    margin-bottom: 0;
                }
            }

            nav {
                
                @include mq(sm) {
                    width: 100%;
                }
                ul {
                    @include flexbox;
                    @include flex-direction(row);

                    @include mq(sm) {
                        @include justify-content(flex-end);
                    }

                    li {
                        margin-left: 2rem;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    footer {
        background-color: $primary;
        padding: 1.5rem 0;
        text-align: center;

        @include mq(md) {
            text-align: left;
        }
        .container {
            @include flexbox;
            @include flex-direction(column-reverse);
            @include align-items(center);

            @include mq(md) {
                @include flex-direction(row);
            }
            > p {
                width: 100%;
            }
            nav {
                width: 100%;
                > ul {
                    @include flexbox;
                    @include flex-wrap(wrap);

                    @include mq(md) {
                        @include flex-wrap(nowrap);
                        @include align-items(center);
                        @include justify-content(flex-end);

                    }
                    > li {
                        width: 33%;
                        @include mq(md) {
                            width: auto;
                            margin-right: 2rem;
                        }

                        &:last-child {
                            width: 100%;
                            @include mq(md) {
                                width: auto;
                            }
                        }
                    }
                }
                .social {
                    @include flexbox;
                    @include justify-content(center);
                    padding: 2rem 0;

                    @include mq(md) {
                        @include justify-content(flex-end);
                        padding: 0;
                    }

                    li {
                        margin-left: 2.5rem;
                        font-size: 2.5rem;

                        @include mq(md) {
                            font-size: 1.8rem;
                            margin-left: 2rem;
                        }

                        &:first-child {
                            margin-left: 0;
                        }

                        
                    }
                } 
            }
        }
    }
}
//---------------------
//       HOME
//---------------------
#home {
    main {
        text-align: center;

        section {
            padding: 6rem 0 8rem;
            .container {
                text-align: left;
            }
        }
        h2 {
            display: inline-block;
            padding: 1rem;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            margin-bottom: 4rem;
        }

        #hero {
            background-color: $primary;
            height: 100vh;
            padding: 0;

            .container {
                @include flexbox;
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
            }
            
            h1 {
                font-size: 10rem;
                
            }
        }  
        #work {
            .container {
                @include flexbox;
                @include flex-wrap(wrap);

                @include mq(sm) {
                    @include justify-content(space-between);
                }
                .work {
                    display: block;
                    width: 100%;
                    background-color: $white;
                    margin-bottom: 2rem;

                    @include mq(sm) {
                        width: calc(50% - 1rem);
                    }
                    @include mq(md) {
                        &:nth-child(2), 
                        &:nth-child(3) {
                            width: calc(40% - 1rem);
                        }
                        &:nth-child(1), 
                        &:nth-child(4) {
                            width: calc(60% - 1rem);
                        }
                    }

                    .img-container {
                        background-color: $secondary;
                        height: 20rem;

                        @include mq(md) {
                            height: 25rem;
                        }
                        @include mq(xl) {
                            height: 30rem;
                        }
                    }
                    .title {
                        color: $primary;
                        padding: 1rem 2rem;
                    }
                }
            }
        }
        #about {
            .container {
                @include flexbox;
                @include flex-wrap(wrap);
                
                @include mq(md) {
                    @include flex-direction(row-reverse);
                    @include flex-wrap(nowrap);
                    @include justify-content(space-between);
                }

                .bio, .experience {
                    width: 100%;
                }
                .bio {
                    @include mq(md) {
                        width: calc(60% - 1rem);
                    }
                    p {
                        margin-bottom: 2rem;
                    }
                }
                .experience {
                    background-color: $primary;
                    padding: 2rem;

                    @include mq(md) {
                        width: calc(40% - 1rem);
                    }

                    h3, h4 {
                        margin-bottom: 1rem;
                    }
                    h4 {
                        display: inline-block;
                        color: $accent;
                        border-bottom: 1px solid $accent;
                        padding-bottom: 0.5rem;
                    }
                    ul {
                        li {
                            margin-bottom: 0.5rem;
                        }
                    }
                    .dev {
                        padding-bottom: 2rem;
                        border-bottom: 1px solid $secondary;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        #connect {
            ul {
                @include flexbox;
                @include justify-content(center);
                @include align-items(center);

                li {
                    width: 10rem;
                    a {
                        font-size: 3rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }  
}
//---------------------
//     Portfolio
//---------------------
#portfolio {
    main {
        h1 {
            text-align: center;
            margin-bottom: 5rem;
        }
        .categories {
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
            width: 100%;
            max-width: 112rem;
            margin: 0 auto 5rem;
            padding: 1rem 2rem;
            border-top: 1px solid $secondary;
            border-bottom: 1px solid $secondary;

            li {
                margin: 0 2rem;
            }
        }
        padding: 10rem 12rem;
        .container {
            @include flexbox;
            @include flex-wrap(wrap);
    
            @include mq(sm) {
                @include justify-content(space-between);
            }
            .work {
                display: block;
                width: 100%;
                background-color: $white;
                margin-bottom: 2rem;
    
                @include mq(sm) {
                    width: calc(50% - 1rem);
                }
                @include mq(md) {
                    &:nth-child(2), 
                    &:nth-child(3) {
                        width: calc(40% - 1rem);
                    }
                    &:nth-child(1), 
                    &:nth-child(4) {
                        width: calc(60% - 1rem);
                    }
                }
    
                .img-container {
                    background-color: $secondary;
                    height: 20rem;
    
                    @include mq(md) {
                        height: 25rem;
                    }
                    @include mq(xl) {
                        height: 30rem;
                    }
                }
                .title {
                    color: $primary;
                    padding: 1rem 2rem;
                }
            }
        }
    }
    
}