// Fonts
$body-font: 400 1.6rem/1.375 'Open Sans', sans-serif;
$heading-font: 300 1.6rem/1 'Nunito', sans-serif;

//Colors
$primary: #2D0042;
$secondary: #650042;
$tertiary: #E37882;
$accent: #51EBC8;
$white: #FEF7F2;

//Spacing
$m-center: 0 auto;